@model CarRental.Models.Rentals

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Rentals</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="id_rental" />
            <div class="form-group">
                <label asp-for="id_customer" class="control-label"></label>
                <input asp-for="id_customer" class="form-control" />
                <span asp-validation-for="id_customer" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="id_car" class="control-label"></label>
                <input asp-for="id_car" class="form-control" />
                <span asp-validation-for="id_car" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="id_payment" class="control-label"></label>
                <input asp-for="id_payment" class="form-control" />
                <span asp-validation-for="id_payment" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="date_from" class="control-label"></label>
                <input asp-for="date_from" class="form-control" />
                <span asp-validation-for="date_from" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="date_to" class="control-label"></label>
                <input asp-for="date_to" class="form-control" />
                <span asp-validation-for="date_to" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
